@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-item{
        @apply flex flex-initial 
        w-36 hover:w-44 h-16 skew-x-[30deg] 
        items-center justify-center 
        text-xl md:text-3xl 
        transition-all hover:text-white
    }
}

@font-face {
    font-family: "Overpass-regular";
    src: url(/public/static/Overpass-Regular.ttf);
}

@font-face {
    font-family: "Overpass-bold";
    src: url(/public/static/Overpass-Bold.ttf);
}